/* .card{
    margin: 10px;
    width: 17rem;
    max-height: 50%;
    background-color: #ffffff;
    border: 2px solid #cccbd0;
}

.btn{
    background-color:#caa6d6;
    margin-left: 21%;
    border-color: transparent;
}

.btn:hover{
    background-color: #b392bf;
    border-color: transparent;
}
 */

 .card{
    margin: 10px;
    width: 17rem;
    max-height: 50%;
    background-color: #ffffff;
    border: 2px solid #cccbd0;
}

.btn{
    background-color:#caa6d6;
    margin-left: 21%;
    border-color: transparent;
}

.btn:hover{
    background-color: #b392bf;
    border-color: transparent;
}

