.join-classroom{
    box-sizing: border-box;
    border: 3px solid #24305E;
    border-radius: 25px;
    background-color: rgb(243 243 243);
    /* height: 100%; */
    width: 100%;
    height: calc(100vh - 59px);
    /* display: flex;
    flex-direction: column; */
}

.input-box{
    margin: 100px auto 100px auto;
    width: 40%;
    background-color: #ffffff;
    border: 2px solid #cccbd0;
    
}

.input-grp{
    margin: 10px;
}

.input-content{
    margin: 6px;
}

.input-grp input{
    background: transparent;
    border-bottom: 1px solid black;
}

.button{
    font-family: Oxygen, sans-serif;
    margin-left: 143px;
    margin-top: 19px;
    border: 1px solid #d8d2e8;
    padding: 5px;
}