*{
    margin:0;
    padding:0;
}

.Navbar{
    background-color: violet;
    width: 100%;
    height: 100%;
    /* display: flex; */
    align-items: center;
    list-style: none;
    /* text-align: right; */
  }

  .nav-logo{
    position: absolute;
    text-decoration: none;
    color: white;
    padding: 10px 45px;  
    display: inline;
    position: absolute;
  }
  .nav-content{
    display: inline;
    text-decoration: none;
    color: white;
    padding: 10px 45px;
    float: right;
  }
  
  .nav-content:hover{
    background-color: wheat;
  }
  
  .logo
  {
    color: white;
  }