:root {
  --blue: #484f4f;
  --white: #ffffff;
  --red: rgba(255, 0, 0, 0.8);
  --grey:#c9c9c9;
  --purple:#c8c3cc;
  --violet:#563f46;
  --box:#ebebeb;
  --meracolor: #e9935a;
  --button: #7e4011;
  --hower: rgb(153, 152, 152);
  --links: #e7ce81;
  --boxinactive: #e0dbdb;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./BgImages/bg1.jpg");
  position: absolute;
  background-size: cover;
  padding-right: 1000px;
  /* background-color: var(--grey); */
} 

 .form-decor-fp {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(145, 145, 145, 0.2);
  background-color: var(--box);
  padding-bottom: 10px;
  height : 100%;

} 
.root-container{
  top: 15vh;
  left: 60vw;
position: absolute;
}

.box-controller1 {
  visibility: visible;
  display: flex;
  max-width: 24em;
  min-width: 25em;
  padding:  0px;
  align-items: center;
  transition: visibility 0.5s ease-out;
}
.box-controller2 {
  visibility: visible;
  display: flex;
  max-width: 24em;
  min-width: 25em;
  padding:  0px;
  align-items: center;
  transition: visibility 0.5s ease-out;
  margin-top: 10%;
}

.form-decor {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(145, 145, 145, 0.2);
  background-color: var(--box);
  padding-bottom: 10px;
  height : 450px;
  /* border-top: black;
   border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black; */
 
}

.reglog-form {
  min-height: 375px;
  position: relative;
}

/* input:focus::placeholder{
  color: transparent;
} */


input[type="text"] {
  border: 0px;
  outline: none;
}



input[type="password"] {
  border: 0px;
  outline: none;
}

/* .register-btn {

  position: relative;
  bottom: -39px;
  margin-left: 25%;
  z-index: 9999;
} */

.controller {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
  margin-bottom: 0%;
}



.box-container {
  display: flex;
  flex-direction: column;
  max-width: 24em;
  min-width: 21em;
  border-radius: 6px;
  padding: 24px;
  padding-top: 13px;
  padding-bottom: 0;
}

/* .inner-container {
  transition: visibility 0.2s ease-out;
} */

/* .inner-container.show {
  visibility: visible;
} */

.header {
  text-align: center;
  padding: 5px;
  margin-bottom: 3px;
  /* margin-left: 35px; */
  /* margin-right: 35px; */
  font-family: monaco, monospace;
  font-size: 31px;
  border-bottom: 2px solid ;
}

#Last-add {
  padding-left: 15px;
}
.log-form a {
  font-size: 15px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fpsubmit-btn {
  padding: 10px 50px;
  font-size: 18px;
  border:1px solid #222;
  font-family: Oxygen, sans-serif;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  bottom: 0px;
  margin-left: 25%;
  z-index: 9999;
  position: absolute;
  margin-bottom: 15%;
  background-color: var(--button);
  color: white;
}



.login-btn {
  padding: 10px 50px;
  font-size: 18px;
  border:1px solid #222;
  font-family: Oxygen, sans-serif;
  margin-top: 50px;
  margin-bottom: 0px;

  cursor: pointer;
  position: relative;
  bottom: 0px;
  /* margin-left: 27%; */
  z-index: 9999;
  position: absolute;
  background-color:var(--button) ;
  color: white;
}
.center{
  align-items: center;
  justify-content: center;
  display: flex;
}

.login-btn:hover,
.login-btn:focus {
 /* box-shadow: 0px 10px 30px 0px var(--hower) inset; */
  border: 1px solid #ddd;
  color: white;
  opacity: 90%;

}

.register-btn {
  padding: 10px 50px;
  margin-left: 91px;
  margin-right: 91px;
  font-size: 18px;
  border:1px solid #222;
  font-family: Oxygen, sans-serif;
  /* margin-top: 20px; */
  cursor: pointer;
  position: relative;
  margin-top: -2%;
  margin-bottom: 0%;
  background-color:var(--button) ;
  color: white;

}

.register-btn:hover,
.register-btn:focus {
 /* box-shadow: 0px 10px 30px 0px var(--hower) inset;  */
  border: 1px solid #ddd;
  color: white;
  opacity: 90%;

}
.button-confirm:hover,
.button-confirm:focus {
 /* box-shadow: 0px 10px 30px 0px var(--hower) inset;
  border: 1px solid #ddd;
  color: white; */
  border: 1px solid #ddd;
  color: white;
  opacity: 90%;

}
.fpsubmit-btn:hover,
.fpsubmit-btn:focus {
 /* box-shadow: 0px 10px 30px 0px var(--hower) inset;
  border: 1px solid #ddd;
  color: white;
 */
 border: 1px solid #ddd;
 color: white;
 opacity: 90%;

}



/**hover-lable-design**/
.form-lable {
  width: 100%;
  float: left;
  position: absolute;
  top: 13px;
  font-size: 13px;
  left: 11px;
  transition: 0.5s;

}

.reglog-form .input-group {
  position: relative;
}

.reglog-form input {
  width: 80%;
  border-bottom: 1px solid #ccc;
  float: left;
  position: relative;
  z-index: 9999;
  background: transparent;
  padding-bottom: 5px;
  padding-left: 11px;
  padding-top: 16px;
}

.input-group input:valid+.form-lable,
.input-group input:focus+.form-lable {
  top: -7px;
  color: #605f5f;
  /* color: var(--meracolor);   */
  font-style: oblique;
}
.reglog-form .box {
  overflow: hidden;
  padding-top: 8px;
}


/* remember me and forgot password */

.forpass{
  font-size: 15px;
  text-align: right;
  float: right;
  margin-right: 0px;

}
label {
color: #666;
font-size: .875rem;
position: relative;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  display: inline-block;
  width: auto;
}

input[type="password"] {
  margin-bottom: .5rem;
}

.line {
  padding-top: 20px;
}

a {
  font-size: 25px;
  text-decoration: none;
  color: #414141;
}

#fullname {
  display: grid;
  grid-template-columns: auto auto;
}

#fullname.p {
  display: grid;
  grid-template-columns: auto auto;
}
#fullname > div {
  padding: 0 2px;
  margin-top: 10%;
}
.log-form .regis-form {
  border-left: 1px solid #b9b9b9;
  background-color: var(--links);
}

/* #First-add{
  right: 15%;
} */
.input-group {
  margin-top: 5%;
}
.input-group-fp {
  margin-top: 15%;
  position: relative;
}
.button-confirm{
  padding: 10px 50px;
  font-size: 18px;
  border:1px solid #222;
  font-family: Oxygen, sans-serif;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  bottom: 0px;
  margin-left: 22%;
  z-index: 9999;
  position: absolute;
  margin-bottom: 15%;
  background-color:var(--button) ;
  color: white;
}
#text1{
  font-size: 15px;
}
.active-button {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
  margin-bottom: 0%;
  background-color: var(--box);
  /* border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; */

}
.inactive-button1 {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
  margin-bottom: 0%;
  background-color: var(--box);
  /* border-top: 10px solid black;
  border-top: 1px solid black; */
  /* border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; */
box-shadow: inset 11px 0px 21px -10px #ccc, inset 0px 12px 8px -10px #ccc
}
.inactive-button2 {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
  margin-bottom: 0%;
  background-color: var(--box);
  /* border-top: 10px solid black;
  border-top: 1px solid black; */
  /* border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; */
box-shadow: inset -11px 0px 21px -10px #ccc, inset 0px 12px 8px -10px #ccc
}

