:root {
  --blue: #484f4f;
  --white: #ffffff;
  --red: rgba(255, 0, 0, 0.8);
  --grey:#c9c9c9;
  --purple:#c8c3cc;
  --violet:#563f46;
  --box:#ebebeb;
  --meracolor: #e9935a;
  --button: #7e4011;
  --hower: rgb(153, 152, 152);
  --links: #e7ce81;
  --boxinactive: #e0dbdb;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: absolute;
  /* background-color: var(--grey); */
}
